<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Publications <span style="font-size: 0.3em;">(* indicates equal contribution)</span></h3>
    {% if page.title == "Home" %}

      
      <ul>
        {% for pub in site.data.publications.featured %}
          <li class="publication-entry">
            <strong>{{ pub.title }}</strong><br>
            {{ pub.authors | replace: "Qiming Cao*", "Qiming Cao<strong>*</strong>" | replace: "Qiming Cao", "<strong>Qiming Cao</strong>" }}<br>
            <em>{{ pub.conference }}</em>, <strong>{{ pub.year }}</strong><p>
          </li>
        {% endfor %}
      </ul>
      

    {% else %}
      <!-- {% for item in site.data.publications.index %}
        <p><a href="{{ item.url }}">{{ item.name }}</a></p>
      {% endfor %} -->
    {% endif %}



  </div>
</div>


